{% load i18n %}
{% load posts_extra %}
{% load reactions %}
<div class="article">
    <div class="uk-card uk-card-primary uk-margin uk-width-1-1">
        <div class="uk-padding">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <a href="{% url 'user-profile' post.user %}">
                        <img data-src="{{post.user.profile.picture.url}}" class="uk-border-circle avatat-img" width="50"
                            height="50" alt="{{post.user}}" uk-img>
                    </a>
                </div>
                <div class="uk-width-expand">
                    <a href="{% url 'user-profile' post.user %}">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{post.user.username}}</h3>
                    </a>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <time>{{post.post_date|date:"D d M Y, H:i"}}</time>
                    </p>
                </div>
            </div>
        </div>
        <!-- End header -->
        <div class="uk-card-body uk-padding uk-padding-remove-vertical">
            {% if post.post_type == "Q" %}
            <q>
                {{ post.content }}
            </q> 
            {% else %}
            <p>
                {{ post.content }}
            </p>
            {% endif %}

        </div>
        <!-- End body -->
        <div class="uk-padding ">
            {% if  post.post_type == "Q" %}
            {% reactions_bar_quo post.id user %}
            {% else %}
            {% reactions_bar_rev post.id user %}
            {% endif %}
        </div>
    </div>

</div>