{% extends "posts/base.html" %}
{% load static %}
{% load i18n %}
{% load posts_extra %}
{% block content %}


<div class="books uk-grid-small uk-child-width-auto uk-text-center article-feed" uk-grid>
    {% for author in authors %}
    <div class="uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l article">
        <a href="{% url 'author' author.id author.author.title %}">
            <div class="uk-padding-small">
                <div class="uk-card-media-top">
                    <img class="uk-border-rounded profile-img" data-src="{{ author.author.Author_Image.url }}" width="125px"
                        height="190px" alt="" uk-img>
                </div>
                <div class="uk-card-body uk-padding-remove">
                    <h5 class="uk-card-title uk-margin-small-top uk-margin-remove-bottom">{{author}}
                    </h5>
                    <span>{{book.readed}}, books</span>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}

</div>


<!-- status elements -->
<div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
        <div style="display: none;" class="loading-more-post">
            <div class="loading-more-post">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
<!-- pagination has path -->


{% if authors.has_next %}
<p class="pagination">
    <a class="pagination__next" href="?page={{ authors.next_page_number }}"></a>
</p>
{% endif %}


{% endblock content %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}