{% extends "posts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- start post container -->
<div class="uk-card uk-card-default">
    <form class="uk-form-stacked uk-padding" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="uk-grid-small uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid>
            <div class="uk-margin uk-text-center">
                <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                    Old Picture
                </label>
                <div>
                    <img class="uk-border-rounded" src="{{user.profile.picture.url}}" alt="{{author.author_Name}}">
                </div>
            </div>
            <div class="uk-margin-large-top">
                <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                    Select New Picture
                </label>
                <div uk-form-custom="target: true">
                    {{form.picture}}
                    <input class="uk-input uk-width-auto@s" type="text" placeholder="Select file" disabled>
                </div>
            </div>
        </div>

        <div class="uk-margin uk-width-1-1 uk-margin-small-bottom">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Author
                Bio</label>
            <div class="uk-form-controls">
                {{form.bio|add_class:"uk-textarea uk-padding-small"|attr:"rows:3"|attr:"placeholder:Write Your Bio"}}
            </div>
        </div>

        <button class="uk-button uk-button-primary" type="submit">Save</button>
    </form>
</div>
<!-- end post container -->
{% endblock content %}