{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Spimebook, a site for readers</title>
    {% endif %}
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/my_style.css" %}" />
    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/plugin.js" %}"></script>
</head>

<body>
    <div class="uk-container uk-padding">
        <div class="uk-padding uk-width-2-5@l uk-container">
            <div class="me-hover uk-card uk-card-body">
                <a href="{% url 'home' %}" class="uk-navbar-item uk-margin uk-margin-medium-bottom uk-logo">
                    <span class="uk-h2 uk-logo uk-text-bolder">Spime<span
                            class="uk-padding-remove uk-text-primary uk-text-italic">book</span>
                </a>
                {% if messages %}
                {% for message in messages %}
                {% if message.tag == WARNING %}
                <div class="uk-margin uk-margin-large-top">
                    <div class="uk-alert-success existed" uk-alert>
                        <p>
                            {{message}}, need account <a href="{% url 'register' %}">register here</a>
                        </p>
                    </div>
                </div>

                {% else %}
                <div class="uk-margin uk-margin-large-top">
                    <div class="uk-alert-success existed" uk-alert>
                        <p>
                            {{message}}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

                <form method="POST" class="uk-text-center">
                    {% csrf_token %}
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Sign In</legend>

                        <div class="uk-margin">

                            <div class="uk-inline uk-width-auto">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input id="username" name="username" class="uk-input" type="text"
                                    placeholder="Username">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input id="password" name="password" class="uk-input" type="password"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <button type="submit" class="uk-button uk-width-1-2@s uk-button-primary">Sign In</button>
                        </div>
                        <div class="uk-margin uk-grid-small uk-child-width-1-2 uk-grid">
                            <p class="uk-margin-top uk-width-1-1 uk-text-left">
                                Need account <a href="{% url 'register' %}">register here</a>
                            </p>
                        </div>
                    </fieldset>
                </form>

            </div>

        </div>
    </div>

</body>

</html>