{% extends "posts/base.html" %}
{% load static %}
{% load posts_extra %}
{% block content %}
<!-- start post container -->
<div class="uk-card uk-card-default">
    <div class="uk-card-header me-header">
        <div class="me-context-menu">
            <span type="button" class="uk-icon" uk-icon="icon:more-vertical; ratio:1.2"></span>
        </div>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="{% url 'edit-profile' %}"><span class="uk-margin-small-right"
                            uk-icon="icon: pencil; ratio:1.2"></span>Edit Profile</a>
                </li>
                <li><a href="{% url 'settings' %}">
                        <span class="uk-margin-small-right" uk-icon="icon: cog; ratio:1.2"></span>
                        Account Settings</a>
                </li>
            </ul>
        </div>
        <div class="uk-grid-small uk-flex uk-flex-middle me-text-center-m" uk-grid>
            <div class="uk-width-auto@m book-img">
                <img class="uk-border-rounded profile-img" data-src="{{user.profile.picture.url}}"
                    alt="{{user.username}}" uk-img />
            </div>
            <div class="uk-width-expand uk-margin-small-left">
                <h1 class="uk-margin-remove"> {{user.first_name}} {{user.last_name}}</h1>
                <h3 class="uk-margin-remove-left uk-margin-small">{{user.username}}</h3>
                <h4 class="uk-margin-remove-left uk-margin-small"><span class="uk-label">Bio </span>
                    {{user.profile.bio}}
                </h4>
            </div>
        </div>
    </div>
    <div class="uk-card-body">

        <!-- start user books -->
        <!-- reads -->
        <h5 class="uk-heading-line uk-text-muted"><span>The books I read</span></h5>
        <div class="uk-margin-bottom me-books-slider">
            <div uk-slider>
                <div class="uk-position-relative">
                    <div class="uk-slider-container">
                        <ul class="uk-slider-items uk-child-width-auto@s uk-grid">
                            {% for book in books %}
                            <li class="uk-text-center">
                                <div class="me-header uk-padding-small uk-padding-remove-vertical">
                                    <div class="me-context-menu-profile-page">
                                        <span type="button" class="uk-icon"
                                            uk-icon="icon:more-vertical; ratio:1.2"></span>
                                    </div>
                                    <div class="uk-padding-small" uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li id="add-to-readed-book-parent">
                                                <a id="add-to-readed-book" data-book="{% url 'readed-book' book.id %}">
                                                    <span class="uk-margin-small-right" uk-icon="icon: trash">
                                                    </span> remove from this list
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="uk-link" href="{% url 'book' book.id %}">
                                        <div class="uk-card-media-top">
                                            <img class="uk-border-rounded" data-src="{{ book.book_image.url }}"
                                                width="125px" height="190px" alt="" uk-img>
                                        </div>
                                        <h3 class="uk-text-muted uk-margin-small-top uk-margin-remove-bottom">
                                            {{book.title}}
                                        </h3>
                                    </a>
                                </div>
                            </li>
                            {% endfor %}



                        </ul>
                    </div>
                    <div class="uk-hidden@s uk-light">
                        <a style="color:#444" class="uk-position-center-left uk-position-small" href="#"
                            uk-slidenav-previous uk-slider-item="previous"></a>
                        <a style="color:#444" class="uk-position-center-right uk-position-small" href="#"
                            uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    <div class="uk-visible@s">
                        <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                            uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                            uk-slider-item="next"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- want to read -->

        <!-- end user books -->

    </div>
    <div class="uk-card-footer">
        <h5 class="uk-heading-line uk-text-muted"><span>My Posts</span></h5>
        <div class="uk-width-expand">
            <!-- Start Users Posts -->
            <div class="article-feed">
                {% for post in posts %}
                {% post post user %}
                {% endfor %}
            </div>

            <div class="loading-more-post" style="display: block;">

                <div class="loading-more-post">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% if posts.has_next %}
            <p class="pagination">
                <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
<!-- end post container -->
{% endblock content %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}