{% extends "posts/base.html" %}
{% load static %}
{% load posts_extra %}
{% block content %}
<!-- start post container -->
<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex uk-flex-middle me-text-center-m" uk-grid>
            <div class="uk-width-auto@m book-img">
                <div>
                    <img class="uk-border-rounded profile-img" data-src="{{target_user.profile.picture.url}}"
                        alt="{{target_user.username}}" uk-img />
                </div>
            </div>
            <div class="uk-width-expand uk-margin-small-left">
                <h1 class="uk-margin-remove">{{target_user.first_name}} {{target_user.last_name}}</h1>
                <h2 class="uk-margin-remove-left uk-margin-small uk-text-muted">{{target_user.username}}</h2>
                <h4 class="uk-margin-remove-left uk-margin-small"><span class="uk-label">Bio </span>
                    {{target_user.profile.bio}}
                </h4>
            </div>
        </div>

    </div>
    <div class="uk-card-body">
        <!-- start user books -->
        <!-- reads -->
        <h5 class="uk-heading-line uk-text-muted"><span>Books reads by {{target_user.username}}</span></h5>
         <div class="uk-margin-bottom me-books-slider">
            <div uk-slider>
                <div class="uk-position-relative">
                    <div class="uk-slider-container">
                        <ul class="uk-slider-items uk-child-width-auto@s uk-grid">
                            {% for book in books %}
                            <li class="uk-text-center">
                                <div class="me-header uk-padding-small uk-padding-remove-vertical">
                                    <a class="uk-link" href="{% url 'books:book' book.id %}">
                                        <div class="uk-card-media-top">
                                            <img class="uk-border-rounded" data-src="{{ book.book_image.url }}"
                                                width="125px" height="190px" alt="" uk-img>
                                        </div>
                                        <h3 class="uk-text-muted uk-margin-small-top uk-margin-remove-bottom">
                                            {{book.title}}
                                        </h3>
                                    </a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="uk-hidden@s uk-light">
                        <a style="color:#444" class="uk-position-center-left uk-position-small" href="#"
                            uk-slidenav-previous uk-slider-item="previous"></a>
                        <a style="color:#444" class="uk-position-center-right uk-position-small" href="#"
                            uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    <div class="uk-visible@s">
                        <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                            uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                            uk-slider-item="next"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- want to read -->
        <!-- end user books -->
    </div>
    <div class="uk-card-footer">
        <div>
            <h5 class="uk-heading-line uk-text-muted"><span>{{target_user.username}} posts</span></h5>
        </div>
        <div class="uk-width-expand">
            <!-- Start Users Posts -->
            <div class="article-feed">
                {% for post in posts %}
                {% post post user %}
                {% empty %}
                <p>The are no posts for now</p>
                {% endfor %}
            </div>
            <div class="loading-more-post" style="display: block;">

                <div class="loading-more-post">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% if posts.has_next %}
            <p class="pagination">
                <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
            </p>
            {% endif %}

            <!-- End Users Posts -->
            <!--End Post -->
        </div>
    </div>
</div>
<!-- End book Profile container -->

{% endblock content %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}