{% extends "posts/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%static 'posts/css/jquery-ui.css'%}">
<script src="{% static 'posts/js/jquery-ui.min.js' %}"></script>
<form method="POST" enctype="multipart/form-data" class="uk uk-padding uk-padding-remove-vertical">
    {% csrf_token %}
    <legend class="uk-legend uk-margin-bottom">Add New or Missing Book</legend>

    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1@s">
            {% for message in messages %}
            <div class="uk-margin uk-margin-large-top">
                <div class="uk-alert-warning existed" uk-alert>
                    <p>
                        {{message}} <a href="{% url 'add-author' %}">from here</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="uk-width-1-1@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Title</label>
            <input class="uk-input" id="title" name="title" type="text" placeholder="Book Title" required>
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Publish Date</label>
            <input class="uk-input" id="pub_date" name="pub_date" type="date" placeholder="Book Title" required>
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Type</label>
            <select id="b_type" name="b_type" class="uk-select">
                <option value="Book">Book</option>
                <option value="Novel">Novel</option>
            </select>
        </div>
        <div id="author-autocomplete" class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Author</label>
            <input class="uk-input" id="author" name="author" type="text" placeholder="Book Author"
                data-author="{% url 'author-autocomplete' %}" required>
            <span style="display: block;" class="uk-margin-small-top uk-text-muted author-autocomplete">If Author
                Doesn't Appear
                <a href="{% url 'add-author' %}">click here to
                    add</a>
            </span>
            <script>
                $(function () {
                    URL = $("#author-autocomplete #author").data('author');
                    //console.log(URL);
                    $("#author-autocomplete #author").autocomplete({
                        source: URL,
                        minLength: 2,
                    });
                });
            </script>
        </div>
        <div class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Bio</label>
            <div class="uk-form-controls">
                <textarea id="book_Bio" name="book_Bio" class="uk-textarea uk-padding-small" rows="5"
                    placeholder="Write Some Information About This Book"></textarea>
            </div>
        </div>

        <div class="uk-margin uk-margin-remove-bottom">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Cover Image</label>
            <div uk-form-custom="target: true">
                <input id="image" name="image" type="file" accept="image.*">
                <input class="uk-input uk-width-auto@s" type="text" placeholder="Select file" disabled>
            </div>
        </div>
        <div class="uk-width-1-1">
            <button class="uk-button uk-button-primary">Add Book</button>
        </div>
    </div>
</form>

{% endblock content %}