{% extends "posts/base.html" %}
{% load posts_extra %}


{% block content %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header me-header">
        {% if user.is_authenticated %}
        <div class="me-context-menu">
            <span type="button" class="uk-icon" uk-icon="icon:more-vertical; ratio:1.2"></span>
        </div>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="{% url 'edit-book' book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: pencil"></span> Edit book Info</a>
                </li>
                {% if readed_book %}
                <li id="add-to-readed-book-parent"><a id="add-to-readed-book"
                        data-book="{% url 'readed-book' book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: trash"></span>Remove from readed Books</a>
                </li>
                {% else %}
                <li id="add-to-readed-book-parent"><a id="add-to-readed-book"
                        data-book="{% url 'readed-book' book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: plus"></span> Add to
                        readed Books</a>
                </li>
                {% endif %}
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: warning"></span> Report Warning</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="uk-grid-small uk-flex me-text-center-m" uk-grid>
            <div class="uk-width-auto@m book-img">
                <img class="uk-border-rounded" data-src="{{book.book_image.url}}" alt="{{book.title}}" uk-img />
            </div>
            <div class="uk-width-expand uk-margin-small-left">
                <h1 class="uk-margin-remove">{{book.title}}</h1>
                <h2 class="uk-margin-remove-left uk-margin-small"><a
                        href="{% url 'author' book.author.id book.author  %}" class="uk-link-muted">{{book.author}}</a>
                </h2>
                <h4 class="uk-margin-remove-left uk-margin-small">Originally published: {{book.publish_date}}</h4>
            </div>
        </div>

        <div class=" uk-margin-small-top book-genres">
            Genres:
            {% for genre in book.genres.all %}
            <a class="uk-label" href="{% url 'fliter-genre' genre.genre %}">{{ genre }}</a>
            {% endfor %}
        </div>

    </div>
    <div class="uk-card-body">
        <p>
            {{book.book_Bio}}
        </p>
    </div>
    <div class="uk-card-footer">
        <div>
            <ul class="uk-tab-bottom" uk-tab>
                <li class="uk-active"><a href="">All</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Quotes</a></li>
            </ul>
        </div>
        <div class="uk-width-expand">
            <!-- Start Users Posts -->
            <div class="article-feed">
                {% for post in posts %}
                {% post post user %}
                {% endfor %}
            </div>
            <!-- status elements -->
            <div class="page-load-status">
                <div class="loader-ellips infinite-scroll-request">
                    <div style="display: none;" class="loading-more-post">
                        <div class="loading-more-post">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination has path -->
            {% if posts.has_next %}
            <p class="pagination">
                <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
            </p>
            {% endif %}
            <!-- End Users Posts -->
        </div>
    </div>
</div>
<!-- End book Profile container -->

{% endblock content %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}