{% extends "posts/base.html" %}
{% load static %}
{% load ratings %}
{% load posts_extra %}
{% load books_extra %}
{% block content %}
{% if user.is_authenticated %}
{% define user.profile.lang as user_lang %}
{% else %}
{% define 'en' as user_lang %}
{% define user.profile.lang as ulang %}
{% endif %}


<div class="uk-card uk-card-default">
    <div class="uk-card-header me-header">
        {% if user.is_authenticated %}
        <div class="me-context-menu">
            <span type="button" class="uk-icon" uk-icon="icon:more-vertical; ratio:1.2"></span>
        </div>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="{% url 'edit-book' book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: pencil"></span> Edit book Info</a>
                </li>
                {% if readed_book %}
                <li id="add-to-readed-book-parent">
                    <a id="add-to-readed-book" data-book="{% url 'readed-book' book.book.id %}">
                        <span class="uk-margin-small-right" uk-icon="icon: trash"></span>
                        Remove from readed Books
                    </a>
                </li>
                {% else %}
                <li id="add-to-readed-book-parent"><a id="add-to-readed-book"
                        data-book="{% url 'readed-book' book.book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: plus"></span> Add to
                        readed Books</a>
                </li>
                {% endif %}
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: warning"></span> Report Warning</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="uk-grid-small uk-flex me-text-center-m" uk-grid>
            <div class="uk-width-auto@m book-img">
                <img class="uk-border-rounded" data-src="{{book.book.book_image.url}}" alt="{{book}}" uk-img />
            </div>
            <div class="uk-width-expand uk-margin-small-left">
                <h1 class="uk-margin-remove">{{book}}</h1>
                <h2 class="uk-margin-remove-left uk-margin-small"><a
                        href="{% url 'author' book.book.author.id book.book.author  %}"
                        class="uk-link-muted">{{book.book.author|get_translate:user_lang}}</a>
                </h2>
                <h4 class="uk-margin-remove-left uk-margin-small">Originally published: {{book.book.publish_date}}</h4>
                <div>
                    {% ratings book.book %}
                </div>
            </div>

            <div class=" uk-margin-small-top book-genres">
                Genres:
                {% for genre in book.book.genres.all %}
                <a class="uk-label" href="{% url 'fliter-genre' genre.genre %}">{{genre|translate_genre:user_lang}}</a>
                {% endfor %}
            </div>

        </div>
        <div class="uk-card-body">
            <p>
                {{book.book_Bio}}
            </p>
        </div>
        <div class="uk-card-footer">
            <div>
                <ul class="tab-ul uk-width-auto">
                    <li id="all" data-type="{{post_type}}" class="active">
                        <a href="{% url 'filter-book-post' book.id 'all' %}">All</a>
                    </li>
                    <li id="reviews" data-type="{{post_type}}">
                        <a href="{% url 'filter-book-post' book.id 'reviews' %}">Reviews</a>
                    </li>
                    <li id="quotes" data-type="{{post_type}}">
                        <a href="{% url 'filter-book-post' book.id 'quotes' %}">Quotes</a>
                    </li>
                    <li id="posts" data-type="{{post_type}}">
                        <a href="{% url 'filter-book-post' book.id 'posts' %}">Posts</a>
                    </li>
                </ul>
            </div>
            <div class=" uk-width-expand">
                <!-- Start Users Posts -->
                <div class="article-feed">
                    {% for post in posts %}
                    {% book_post post user %}
                    {% empty %}
                    {% if post_type == 'all' %}
                    <p class="uk-padding">There is no posts, reviews or quotes for Now!</p>
                    {% else %}
                    <p class="uk-padding">There is no {{post_type}} for Now!</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- status elements -->
                <div class="page-load-status">
                    <div class="loader-ellips infinite-scroll-request">
                        <div style="display: none;" class="loading-more-post">
                            <div class="loading-more-post">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination has path -->
                {% if posts.has_next %}
                <p class="pagination">
                    <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
                </p>
                {% endif %}
                <!-- End Users Posts -->
            </div>
        </div>
    </div>
    <div>
        <div class="add-post-btn">
            <span class="btn-container" uk-icon="icon:pencil; ratio:1.5" uk-toggle="target: #new-book-post"></span>
            <!-- This is the new post modal -->
            <div id="new-book-post" uk-modal="bg-close: false">
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Write for {{book}}</h2>
                    <form id="post-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="uk-width-1-1 uk-margin-small">
                            <div class="uk-form-controls">
                                <textarea id="content" name="content" class="uk-textarea uk-padding-small" rows="5"
                                    placeholder="Content.." required></textarea>
                            </div>
                        </div>
                        <div class="uk-width-1-1 uk-margin-small">
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label><input class="uk-radio" value="Q" type="radio" name="type" checked>
                                    Quote</label>
                                <label><input class="uk-radio" value="R" type="radio" name="type"> Review</label>
                            </div>
                            <div class="uk-width-1-1 uk-text-center">
                                <div data-book="{{book.id}}" style="display: none;" id="spinner-post"
                                    uk-spinner="ratio: 2.5"></div>
                            </div>
                        </div>
                    </form>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button data-type="bookpost" data-url="{% url 'reactions:add-post' book.id %}"
                            id="new-post-on-book" class="uk-button uk-button-primary" type="button">Save</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var active = $(".tab-ul #{{post_type}}");
            var id_text = active.attr('id');
            var data_text = active.data('type');
            if (id_text === data_text) {
                active.addClass('active').siblings().removeClass('active');
            }
        });
    </script>
    <!-- End book Profile container -->
    {% endblock content %}
    {% if indicator %}
    {% block javascript %}
    {% infinite_scroll_js %}
    {% endblock javascript %}
    {% endif %}