{% extends "posts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" enctype="multipart/form-data" class="uk uk-padding uk-padding-remove-vertical">
    {% csrf_token %}
    <legend class="uk-legend uk-margin-bottom">Edit {{book}} </legend>
    <div class="uk-grid" uk-grid>

        <div class="uk-width-1-1@s">

        </div>
        <div class="uk-width-1-1@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Book Title</label>
            <input type="text" name="title" value="{{book}}" maxlength="255" placeholder="Author Name" required
                class="uk-input" id="id_title">
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Publish Date</label>
            <input type="date" name="publish_date" value="{{book.book.publish_date|date:"Y-m-d"}}" required
                class="uk-input" id="id_publish_date"><input type="hidden" name="initial-publish_date"
                value="2020-04-16" class="uk-input" id="initial-id_publish_date">
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Type</label>
            <select name="book_or_Novel" required class="uk-select" id="id_book_or_Novel">
                {% if book.book.book_or_Novel == 'Book' %}
                <option value="Book" selected>Book</option>
                <option value="Novel">Novel</option>
                {% else %}
                <option value="Book">Book</option>
                <option value="Novel" selected>Novel</option>
                {% endif %}
            </select>
        </div>
        <div class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Author</label>
            <select name="author" class="uk-select" required id="id_author">
                <option value="">---------</option>

                <option value="2">Ali is a student</option>

                <option value="3">Elif Shafak</option>

                <option value="4" selected>Abdul Rasul</option>

            </select>
        </div>
        <div class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Bio</label>
            <div class="uk-form-controls">
            </div>
        </div>
        <div class="uk-margin uk-width-auto uk-margin-remove-bottom">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Genres</label>
            <select name="genres" class="uk-select" required id="id_genres" multiple>
            </select>
        </div>
        <div class="uk-margin uk-text-center uk-width-auto@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                Old Picture
            </label>
            <div>
                <img class="uk-border-rounded" src="/media/book.jpg" alt="">
            </div>
        </div>
        <div class="uk-margin-large-top">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                Select New Picture
            </label>
            <div uk-form-custom="target: true">
                Currently: <a href="/media/book.jpg">book.jpg</a><br>
                Change:
                <input type="file" name="book_image" accept="image/*" id="id_book_image">
                <input class="uk-input uk-width-auto@s" type="text" placeholder="Select file" disabled>
            </div>
        </div>
        <div class="uk-width-1-1">
            <button type="submit" class="uk-button uk-button-primary">Save Book</button>
        </div>
    </div>
</form>

{% endblock content %}