{% extends "posts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load books_extra %}
{% block content %}
{% if user.is_authenticated %}
{% define user.profile.lang as user_lang %}
{% else %}
{% define 'en' as user_lang %}
{% define user.profile.lang as ulang %}
{% endif %}
<form method="POST" enctype="multipart/form-data" class="uk uk-padding uk-padding-remove-vertical">
    {% csrf_token %}
    <legend class="uk-legend uk-margin-bottom">Edit {{book}} </legend>
    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1@s">
            {% for message in messages %}
            <div class="uk-margin uk-margin-large-top">
                <div class="uk-alert-success existed" uk-alert>
                    <p>
                        {{message}}<a href="{% url 'add-book' %}">click here</a> to add book or <a
                            href="{% url 'books' %}">here</a> books browser.
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="uk-width-1-1@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Book Title</label>
            <input type="text" name="title" value="{{book}}" maxlength="255" placeholder="Author Name" required
                class="uk-input" id="id_title">
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Publish Date</label>
            <input class="uk-input" id="pub_date" name="pub_date" value="{{book.book.publish_date|date:"Y-m-d"}}"
                type="date" placeholder="Book Title" required>
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Type</label>
            <select name="book_or_Novel" required class="uk-select" id="id_book_or_Novel">
                {% if book.book.book_or_Novel == 'Book' %}
                <option value="Book" selected>Book</option>
                <option value="Novel">Novel</option>
                {% else %}
                <option value="Book">Book</option>
                <option value="Novel" selected>Novel</option>
                {% endif %}
            </select>
        </div>
        <div id="author-autocomplete" class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Author</label>
            <input class="uk-input" id="author" name="author" type="text" placeholder="Book Author"
                data-author="{% url 'author-autocomplete' %}" value="{{book.book.author|get_translate:user_lang}}"
                required>
            <span style="display: block;" class="uk-margin-small-top uk-text-muted author-autocomplete">If Author
                Doesn't Appear
                <a href="{% url 'add-author' %}">click here to
                    add</a>
            </span>
            <script>
                $(function () {
                    URL = $("#author-autocomplete #author").data('author');
                    //console.log(URL);
                    $("#author-autocomplete #author").autocomplete({
                        source: URL,
                        minLength: 2,
                    });
                });
            </script>
        </div>
        <div class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Bio</label>
            <div class="uk-form-controls">
                <textarea id="book_Bio" name="book_Bio" class="uk-textarea uk-padding-small" rows="5"
                    placeholder="Write Some Information About This Book">{{book.book_Bio}}</textarea>
            </div>
        </div>
        <div class="uk-margin uk-width-1-1">
            <ul uk-accordion>
                <li>
                    <a class="uk-accordion-title" href="#">Click to selcect Genres</a>
                    <div class="uk-accordion-content">
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            {% for genre in genres %}
                            <label for="id_archived"><input type="checkbox" value="{{genre.genre}}"
                                    {% if genre in book.book.genres.all %} checked {% endif %} name="category"
                                    class="uk-checkbox" id="id_archived"> {{genre.genre}}</label>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-margin uk-text-center uk-width-auto@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                Old Picture
            </label>
            <div>
                <img class="uk-border-rounded" src="{{book.book.book_image.url}}" alt="{{author.author_Name}}">
            </div>
        </div>
        <div class="uk-margin-large-top">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                Select New Picture
            </label>
            <div uk-form-custom="target: true">
                {{form.book_image}}
                <input class="uk-input uk-width-auto@s" type="text" placeholder="Select file" disabled>
            </div>
        </div>

        <div class="uk-width-1-1">
            <button type="submit" class="uk-button uk-button-primary">Save Book</button>
        </div>
    </div>
</form>

{% endblock content %}