{% extends "posts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<form method="POST" enctype="multipart/form-data" class="uk uk-padding uk-padding-remove-vertical">
    {% csrf_token %}
    <legend class="uk-legend uk-margin-bottom">Edit {{book}} </legend>

    <div class="uk-grid" uk-grid>

        <div class="uk-width-1-1@s">
            {% for message in messages %}
            <div class="uk-margin uk-margin-large-top">
                <div class="uk-alert-success existed" uk-alert>
                    <p>
                        {{message}}<a href="{% url 'add-book' %}">click here</a> to add book or <a
                            href="{% url 'books' %}">here</a> books browser.
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="uk-width-1-1@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Book Title</label>
            {{ form.title|add_class:"uk-input"|attr:"type:text"|attr:"required"|attr:"placeholder:Author Name" }}
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Publish Date</label>
            {{ form.publish_date|add_class:"uk-input"|attr:"type:date"|attr:"required"}}
        </div>
        <div class="uk-width-1-2@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Type</label>
            {{ form.book_or_Novel|add_class:"uk-select"|attr:"required"}}
        </div>
        <div class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom">Author</label>
            {{form.author|add_class:"uk-select"}}
        </div>
        <div class="uk-margin uk-width-1-1">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Bio</label>
            <div class="uk-form-controls">
                {{ form.book_Bio|add_class:"uk-textarea uk-padding-small"|attr:"rows:5"|attr:"required"}}
            </div>
        </div>
        <div class="uk-margin uk-width-auto uk-margin-remove-bottom">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Book
                Genres</label>
            {{ form.genres|add_class:"uk-select"}}
        </div>
        <div class="uk-margin uk-text-center uk-width-auto@s">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                Old Picture
            </label>
            <div>
                <img class="uk-border-rounded" src="{{book.book_image.url}}" alt="{{author.author_Name}}">
            </div>
        </div>
        <div class="uk-margin-large-top">
            <label style="display: block;" class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">
                Select New Picture
            </label>
            <div uk-form-custom="target: true">
                {{form.book_image}}
                <input class="uk-input uk-width-auto@s" type="text" placeholder="Select file" disabled>
            </div>
        </div>
        <div class="uk-width-1-1">
            <button type="submit" class="uk-button uk-button-primary">Save Author</button>
        </div>
    </div>
</form>

{% endblock content %}