{% extends "posts/base.html" %}
{% load static %}
{% load i18n %}
{% load posts_extra %}
{% load books_extra %}

{% block content %}

{# get user lang to show correct translate #}
{% if user.is_authenticated %}
{% define user.profile.lang as user_lang %}
{% else %}
{% define 'en' as user_lang %}
{% endif %}
<!-- Start Books Categoty -->
<div class="uk-grid-small uk-width-1-1@s" uk-grid>
    <div class="uk-width-expand@s">
        <button class="uk-button uk-button-primary uk-width-expand"
            uk-toggle="target:#book-category; animation: uk-animation-fade">Categoty</button>
    </div>
    <div class="uk-width-expand@s">
        <a href="{% url 'add-book' %}" class="uk-width-1-expand uk-button uk-button-default">Add Book</a>
    </div>
    <!-- search book -->
    <div class="uk-width-expand@s">
        <form class="uk-search uk-search-default uk-width-expand">
            <a href="" class="uk-search-icon-flip" uk-search-icon></a>
            <input id="book-search" data-url="{% url 'search-book' %}" class="uk-search-input uk-width-expand"
                type="search" placeholder="">
        </form>

        <script>
            $(function () {
                // search book fast
                /*
                var URL = "{% url 'search-book' %}";
                //console.log(URL);
                $("#book-search").autocomplete({
                    source: URL,
                    minLength: 2,
                    select: function (event, ui) {
                        //console.log(ui);
                        //console.log(ui.item);
                        console.log(ui.item.value);
                        var book = ui.item.value
                        //var get_url = "lab".replace(/12345/, tmp.toString());
                        var get_url = "{% url 'ajax-book' '12345' %}".replace(/12345/, book);
                        console.log(get_url);
                        $(location).attr('href', get_url);
                    },
                });
                */
            });
        </script>
    </div>
</div>
<div id="book-category" class="category" hidden>
    <div class="uk-padding-small uk-margin-small-top">
        <a class="uk-label" href="{% url 'books' %}">All</a>
        {% for genre in genres %}
        <a class="uk-label" href="{% url 'fliter-genre' genre.genre %}">{{genre}}</a>
        {% endfor %}
    </div>
</div>
<!-- End Books Categoty -->
<div class="books uk-grid-small uk-child-width-1-2@s uk-text-center article-feed" uk-grid>
    {% for book in books %}
    <div class="book article">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-rounded" data-src="{{book.book.book_image.url}}" alt="{{book}}" uk-img>
                </div>
                <div class="uk-width-expand uk-text-left">
                    <h3 class="uk-margin-small"><a href="{% url 'book' book.id %}">{{book}}</a></h3>
                    <h4 class="uk-margin-small uk-text-meta"><a class="uk-h4"
                            href="{% url 'author' book.book.author.id book.book.author  %}">{{book.book.author|get_translate:user_lang}}</a>
                    </h4>
                    <h5 class="uk-margin-small uk-text-meta"><a href="#"></a></h5>
                    <a class="uk-label" href="#">{{book.book.book_or_Novel}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- status elements -->
    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <div style="display: none;" class="loading-more-post">
                <div class="loading-more-post">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination has path -->

    {% if books.has_next %}
    <a class="pagination__next" href="?page={{ books.next_page_number }}"></a>
    {% endif %}

</div>
{% endblock content %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}