<form id="comment-form" action="{% url 'reactions:add-comment' post.id %}" method="post">
    {% csrf_token %}
    <br>
    <div class="uk-flex uk-grid-small uk-flex-middle" uk-grid>
        <div id="comment" class="uk-width-expand">
            <input type="text" name="comment" maxlength="255" placeholder="Write your comment" class="uk-input"
                required>
        </div>
        <div class="uk-width-auto">
            <input data-type='book' style="background: none;border: none;" class="uk-link uk-text-large  add-comment" type="submit"
                value="Reply">
            <div style=" display: none;" id='spinner' uk-spinner></div>
        </div>
    </div>
</form>
