<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="text-align: center;">
    <div style="background-color:#FFFFFF; padding: 50px 10px;">
        <p style="margin-bottom: 70px;">
            <span style="font-size: 2em;font-weight: bolder;color: #666666;">Spime<span
                    style="color:#1e87f0!important;font-style: italic;">book
                </span>
            </span>
        </p>
        <h3>Welcome {{name}}</h3>
        <p style="margin: 30px 0;">You are request to reset your account password, click button below to rest your
            password</p>
        <a href="http://abdulrasol.pythonanywhere.com/"
            style="text-decoration: none;border: none;cursor: pointer; border-radius: 5px; padding: 12px 18px;color:#FFFFFF;background-color:#1e87f0;font-weight: bold;">Rest
            Password</a>
    </div>
</body>

</html>