{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Spimebook, a site for readers</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'posts/css/uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'posts/css/my_style.css' %}" />
    <script src="{% static  'posts/js/uikit.min.js' %}"></script>
    <script src="{% static 'posts/js/uikit-icons.min.js' %}"></script>
    <script src="{% static  'posts/js/jquery.js' %}"></script>
    {% comment %}
    <script src="{% static  'posts/js/jquery.waypoints.min.js'  %}"></script>
    <script src="{% static  'posts/js/infinite.min.js' %}"></script>
    <script src="{% static  'posts/js/fontawesome.all.min.js' %}"></script>
    {% endcomment %}
    <script src="{% static  'posts/js/infinite-scroll.pkgd.min.js' %}"></script>
    <script src="{% static  'posts/js/plugin.js'  %}"></script>
</head>

<body>
    <nav class="uk-navbar-container uk-padding-small uk-padding-remove-vertical" uk-navbar>
        <!-- Start Logo -->
        <div class="uk-navbar-left">
            <a href="{% url 'home' %}" class="uk-navbar-item uk-margin-small-left uk-logo">
                <span class="uk-h2 uk-logo uk-text-bolder">Spime<span
                        class="uk-padding-remove uk-text-primary uk-text-italic">book</span>
            </a>
        </div>
        <!--End Logo -->

        <div class="uk-navbar-right">
            <!-- Search icon -->
            <a class="uk-navbar-toggle uk-visible@s  uk-visible@m" uk-search-icon
                uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            <ul class="uk-navbar-nav">
                <!-- User Name and Icon  -->

                <li class="uk-visible@s">
                    <a href="{% url 'profile' %}">{{user.username}}</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a type="button" class="uk-icon uk-animation-slide-right">
                        <img class="uk-border-circle" width="45" height="45" data-src="{{user.profile.picture.url}}"
                            alt="{{user.profile.picture.url}}" uk-img>
                    </a>
                    {% else %}
                    <a type="button" class="uk-icon uk-animation-slide-right" uk-icon="icon:user; ratio:1.5"></a>
                    {% endif %}
                    <div class="uk-card uk-card-default uk-card-body uk-padding uk-border-rounded"
                        uk-dropdown="mode: click; pos: bottom-left">
                        <ul class="uk-nav uk-nav-default">
                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'settings' %}" class="uk-margin-small-top"><span
                                        class="uk-icon-link uk-margin-small-right"
                                        uk-icon="icon: cog; ratio:1.5"></span> Settings</a>
                            </li>
                            <li>
                                <a href="{% url 'log-out' %}" class="uk-margin-small-top"><span
                                        class="uk-icon-link uk-margin-small-right"
                                        uk-icon="icon: sign-out; ratio:1.5"></span> Sign out</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'log-in' %}" class="uk-margin-small-top"><span
                                        class="uk-icon-link uk-margin-small-right"
                                        uk-icon="icon: sign-in; ratio:1.5"></span> Sign in</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}" class="uk-margin-small-top"><span
                                        class="uk-icon-link uk-margin-small-right"
                                        uk-icon="icon: sign-out; ratio:1.5"></span> Register</a>
                            </li>
                            {% endif %}


                        </ul>
                    </div>
                </li>
                <!-- End User Name and Icon  -->
            </ul>
            <!-- Start slide-menu -->
            <div id="mobile-slide-menu" uk-offcanvas="flip: true; overlay: true; mode: reveal">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav uk-nav-default">
                        <li>
                            <div class="uk-margin">
                                <form class="uk-search uk-search-default">
                                    <a href="" uk-search-icon></a>
                                    <input class="uk-search-input" type="search" placeholder="Search...">
                                </form>
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="uk-nav-header">Posts</li>
                        <li>
                            <a href="{% url 'new-post' %}"><span class="uk-margin-small-right"
                                    uk-icon="icon: pencil; ratio: 1.5"></span>New</a>
                        </li>
                        <li><a href="{% url 'my-posts' user %}"><span class="uk-margin-small-right"
                                    uk-icon="icon: thumbnails; ratio: 1.5"></span>My Posts</a></li>
                        {% endif %}
                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">Shortcuts</li>
                        <li>
                            <a href="{% url 'profile' %}">
                                <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1.5"></span> My Profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="uk-margin-small-right" uk-icon="icon: list; ratio: 1.5"></span> My Lists
                            </a>
                        </li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: bookmark; ratio: 1.5"></span>
                                Bookmark</a></li>

                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">More</li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: mail"></span> Contact us</a>
                        </li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: info"></span> How Are We</a>
                        </li>
                        <li>
                            <ul class="uk-iconnav uk-child-width-1-3 uk-padding-small uk-margin-medium-top">

                                <li>
                                    <a class="uk-icon" href="#" uk-icon="icon: twitter; ratio:1.3"></a>
                                </li>
                                <li>
                                    <a href="#" uk-icon="icon: instagram; ratio:1.3"></a>
                                </li>
                                <li>
                                    <a href="#" uk-icon="icon: github; ratio:1.3"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Start slide-menu -->
        </div>
        <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
            <div class="uk-navbar-item uk-width-expand">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>
    </nav>
    <!-- Start Mobile Navbar -->
    <div id="me-mobile-navbar" class="uk-width-1-1 uk-navbar-container uk-hidden@m">
        <div class="uk-container uk-container-small">
            <ul class="uk-iconnav uk-padding-small uk-flex uk-flex-center uk-text-center">
                <div class="uk-width-1-4">
                    <a href="{% url 'home' %}" class="uk-icon" uk-icon="icon:home; ratio:2"></a>
                </div>
                <div class="uk-width-1-4">
                    <a href="{% url 'books' %}" class="uk-icon" uk-icon="icon:thumbnails; ratio:2"></a>
                </div>
                <div class="uk-width-1-4">
                    <a href="{% url 'quotes' %}" class="uk-icon" uk-icon="icon:quote-right; ratio:2"></a>
                </div>
                <div class="uk-width-1-4">
                    <a href="#mobile-slide-menu" uk-toggle class="uk-icon" uk-icon="icon:menu; ratio:2"></a>
                </div>

            </ul>
        </div>
    </div>
    <!-- End Mobile Navbar -->
    <div class="uk-container">
        <div class="uk-flex uk-flex-wrap">
            <!-- Start Side -->
            <div class="uk-width-auto uk-visible@m uk-visible@s">
                <div class="side-bar uk-padding-small">
                    <div class="uk-card uk-card-primary uk-card-body">
                        <ul class="uk-nav-default uk-nav-parent-icon uk-padding-small" uk-nav>
                            <li class="uk-nav-header">Main</li>
                            <li><a href="{% url 'home' %}"><span class="uk-margin-small-right"
                                        uk-icon="icon: home; ratio: 1.5"></span>Home</a></li>
                            <li><a href="{% url 'books' %}"><span class="uk-margin-small-right"
                                        uk-icon="icon: thumbnails; ratio: 1.5"></span> Books</a></li>
                            <li><a href="{% url 'quotes' %}"><span class="uk-margin-small-right"
                                        uk-icon="icon: quote-right; ratio: 1.5"></span> Quote</a></li>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header">Posts</li>
                            <li>
                                <a href="{% url 'new-post' %}" uk-toggle><span class="uk-margin-small-right"
                                        uk-icon="icon: pencil; ratio: 1.5"></span>New</a>

                            </li>
                            <li><a href="{% url 'my-posts' user %}"><span class="uk-margin-small-right"
                                        uk-icon="icon: thumbnails; ratio: 1.5"></span>My Posts</a></li>

                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header">Shortcuts</li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: list; ratio: 1.5"></span>
                                    My Lists</a>
                            </li>
                            <li><a href="#"><span class="uk-margin-small-right"
                                        uk-icon="icon: bookmark; ratio: 1.5"></span>
                                    Bookmark</a>
                            </li>
                            {% endif %}
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header">More</li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: mail"></span> Contact
                                    us</a>
                            </li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: info"></span> How Are
                                    We</a>
                            </li>
                            <li>
                                <ul class="uk-iconnav uk-child-width-1-3 uk-padding-small uk-margin-medium-top">
                                    <li>
                                        <a class="uk-icon" href="#" uk-icon="icon: twitter; ratio:1.3"></a>
                                    </li>
                                    <li>
                                        <a href="#" uk-icon="icon: instagram; ratio:1.3"></a>
                                    </li>
                                    <li>
                                        <a href="#" uk-icon="icon: github; ratio:1.3"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Side -->

            <!-- Start Main -->
            <div class="uk-width-expand">
                <div class="uk-container uk-padding-small">
                    <!-- start post container -->
                    <div class="content-container">
                        <!-- Start Posts -->
                        {% block content %} {% endblock content %}
                        <!-- End Post -->
                    </div>
                    <!-- end post container -->
                </div>
            </div>
            <!-- End Main -->
        </div>
    </div>
    <!-- All Modal -->

    <!-- Share Model -->
    <div id="share-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-text-center">
            <h2 class="uk-modal-title">Share</h2>
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-child-width-1-2 ">
                <a href="#" class=" uk-button uk-button-default uk-margin-small"><span class="uk-icon uk-padding-small"
                        uk-icon="icon: facebook; ratio:1.5"></span>facebook</a>
                <a href="#" class=" uk-button uk-button-default uk-margin-small"><span class="uk-icon uk-padding-small"
                        uk-icon="icon: twitter; ratio:1.5"></span>twitter</a>
                <a href="#" class=" uk-button uk-button-default uk-margin-small"><span class="uk-icon uk-padding-small"
                        uk-icon="icon: instagram; ratio:1.5"></span>instagram</a>
                <a href="#" class=" uk-button uk-button-default uk-margin-small"><span class="uk-icon uk-padding-small"
                        uk-icon="icon: facebook; ratio:1.5"></span>others</a>
            </div>
        </div>
    </div>
    <!-- End Share Model -->
    <!-- End Model -->
    {% comment %} {% if messages %}
    <ul class="messages"></ul>
    {% for message in messages %}
    <script>
        UIkit.notification({
            message: '{{message}}',
            status: 'success',
            pos: 'top-right',
            timeout: 3000
        })
    </script>
    {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}
    {% block javascript %}{% endblock javascript %}
</body>

</html>