{% extends "posts/base.html" %}
{% load static %}
{% load posts_extra %}
{% block content %}
<div class="article-feed">
    {% for post in posts %}
    {% post post user %}
    {% endfor %}
</div>
<!-- status elements -->
<div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
        <div style="display: none;" class="loading-more-post">
            <div class="loading-more-post">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
<!-- pagination has path -->


{% if posts.has_next %}
<p class="pagination">
    <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
</p>
{% endif %}
{% endblock content %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}