asgiref                   
Django                                
django-multiselectfield 
django-widget-tweaks    
Pillow                  
pip                     
pytz                    
setuptools              
sqlparse   
# https://infinite-scroll.com         
