django                          
django-widget-tweaks            
googletrans                     
Pillow
djangoajax
django-star-ratings
#sendgrid
django-tinymce
python-decouple

    
# https://infinite-scroll.com         
