asgiref                   
Django                   
django-dajaxice             
django-multiselectfield 
django-widget-tweaks    
Pillow                  
pip                     
pytz                    
setuptools              
sqlparse                
