{% extends "posts/base.html" %}
{% load static %}
{% load posts_extra %}
{% load books_extra %}
{% block content %}
{% if user.is_authenticated %}
{% define user.profile.lang as user_lang %}
{% else %}
{% get_current_language as user_lang %}
{% define user.profile.lang as ulang %}
{% endif %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">

<div class="uk-card uk-card-default">
    <div class="uk-card-header me-header">
        {% if user.is_authenticated %}
        <div class="me-context-menu">
            <span type="button" class="uk-icon" uk-icon="icon:more-vertical; ratio:1.2"></span>
        </div>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="{% url 'edit-book' book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: pencil"></span> Edit book Info</a>
                </li>
                {% if readed_book %}
                <li id="add-to-readed-book-parent">
                    <a id="add-to-readed-book" data-book="{% url 'readed-book' book.book.id %}">
                        <span class="uk-margin-small-right" uk-icon="icon: trash"></span>
                        Remove from readed Books
                    </a>
                </li>
                {% else %}
                <li id="add-to-readed-book-parent"><a id="add-to-readed-book"
                        data-book="{% url 'readed-book' book.book.id %}"><span class="uk-margin-small-right"
                            uk-icon="icon: plus"></span> Add to
                        readed Books</a>
                </li>
                {% endif %}
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: warning"></span> Report Warning</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="uk-grid-small uk-flex me-text-center-m" uk-grid>
            <div class="uk-width-auto@m book-img">
                <img class="uk-border-rounded" data-src="{{book.book.book_image.url}}" alt="{{book}}" uk-img />
            </div>
            <div class="uk-width-expand uk-margin-small-left">
                <h1 class="uk-margin-remove">{{book}}</h1>
                <h2 class="uk-margin-remove-left uk-margin-small"><a
                        href="{% url 'author' book.book.author.id book.book.author  %}"
                        class="uk-link-muted">{{book.book.author|get_translate:user_lang}}</a>
                </h2>
                <h4 class="uk-margin-remove-left uk-margin-small">Originally published: {{book.book.publish_date}}</h4>
                <div class="uk-margin-small uk-margin-remove-top">
                    <div class="uk-margin uk-gird-small uk-flex uk-flex-middle uk-flex-left" uk-grid>

                        {% if user.is_authenticated %}
                        <div>
                            <fieldset data-book="{{book.book.id}}" class="rating uk-width-auto">
                                <input class="book-rating" type="radio" id="star5" name="rating" value="10" /><label
                                    class="full" for="star5" title="Awesome - 10 stars"></label>
                                <input class="book-rating" type="radio" id="star4half" name="rating" value="9" /><label
                                    class="half" for="star4half" title="Pretty good - 9 stars"></label>
                                <input class="book-rating" type="radio" id="star4" name="rating" value="8" /><label
                                    class="full" for="star4" title="Pretty good - 8 stars"></label>
                                <input class="book-rating" type="radio" id="star3half" name="rating" value="7" /><label
                                    class="half" for="star3half" title="Meh - 7 stars"></label>
                                <input class="book-rating" type="radio" id="star3" name="rating" value="6" /><label
                                    class="full" for="star3" title="Meh - 6 stars"></label>
                                <input class="book-rating" type="radio" id="star2half" name="rating" value="5" /><label
                                    class="half" for="star2half" title="Kinda bad - 5 stars"></label>
                                <input class="book-rating" type="radio" id="star2" name="rating" value="4" /><label
                                    class="full" for="star2" title="Kinda bad - 4 stars"></label>
                                <input class="book-rating" type="radio" id="star1half" name="rating" value="3" /><label
                                    class="half" for="star1half" title="Meh - 3"></label>
                                <input class="book-rating" type="radio" id="star1" name="rating" value="2" /><label
                                    class="full" for="star1" title="Sucks big time - 2 stars"></label>
                                <input class="book-rating" type="radio" id="starhalf" name="rating" value="1" /><label
                                    class="half" for="starhalf" title="Sucks big time - 1 star"></label>
                            </fieldset>
                        </div>
                        {% endif %}
                        <div>
                            <span>
                                <span class="show-rating">{{rating.rating__avg|truncatechars:4 }}</span>,
                                <span class="ratings-num">{{book.book.rating_set.all|length}}</span> ratings
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class=" uk-margin-small-top book-genres">
            Genres:
            {% for genre in book.book.genres.all %}
            <a class="uk-label" href="{% url 'fliter-genre' genre.genre %}">{{genre|translate_genre:user_lang}}</a>
            {% endfor %}
        </div>

    </div>
    <div class="uk-card-body">
        <p>
            {{book.book_Bio}}
        </p>
    </div>
    <div class="uk-card-footer">
        <div>
            <ul class="uk-tab-bottom" uk-tab>
                <li class="uk-active"><a href="">All</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Quotes</a></li>
            </ul>
        </div>
        <div class="uk-width-expand">
            <!-- Start Users Posts -->
            <div class="article-feed">
                {% for post in posts %}
                {% post post user %}
                {% endfor %}
            </div>
            <!-- status elements -->
            <div class="page-load-status">
                <div class="loader-ellips infinite-scroll-request">
                    <div style="display: none;" class="loading-more-post">
                        <div class="loading-more-post">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination has path -->
            {% if indicator %}
            {% if posts.has_next %}
            <p class="pagination">
                <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
            </p>
            {% endif %}
            {% endif %}
            <!-- End Users Posts -->
        </div>
    </div>
</div>
<!-- End book Profile container -->

{% endblock content %}
{% if indicator %}
{% block javascript %}
{% infinite_scroll_js %}
{% endblock javascript %}
{% endif %}
