{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>{% trans "Spimebook, a site for readers" %}</title>
    {% endif %}
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/my_style.css" %}" />
    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/password_reset.js" %}"></script>
    <style>
        .according-parent:not( :first-of-type) .according {
            display: none;
        }
    </style>
</head>

<body>
    <div class="uk-container uk-padding">
        <div class="uk-padding uk-width-2-5@l uk-width-2-5@m uk-width-1-1@s uk-container">
            <div class="me-hover uk-card uk-card-body">
                <a href="{% url 'home' %}" class="uk-navbar-item uk-margin uk-margin-medium-bottom uk-logo">
                    <span class="uk-h2 uk-logo uk-text-bolder">Spime<span
                            class="uk-padding-remove uk-text-primary uk-text-italic">book</span>
                </a>
                <form method="POST" class="">
                    {% csrf_token %}
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">{% trans "Recover Your Password" %}</legend>
                        <div class="uk-padding-small according-parent">
                            <div class="collapse uk-flex uk-flex-middle uk-margin-bottom" uk-grid>
                                <legend class="uk-legend uk-width-auto">{% trans "Find Your Account" %}</legend>
                                <div class="uk-width-expand">
                                    <h5 class="uk-heading-line uk-text-right">
                                        <span class="icon" uk-icon="icon: chevron-down
                        									; ratio: 1.5"></span>
                                    </h5>
                                </div>
                            </div>
                            <div class="according">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input id="email" name="email" class="uk-input" type="email"
                                        placeholder="{% trans "Email address" %}">
                                </div>
                                <div style="display:none" class="uk-width-1-1 uk-padding">
                                    <p class="message" class="uk-text-right">
                                        {% trans "Account not found, make sure your email is correct" %}
                                    </p>
                                </div>
                                <p class="uk-text-right">
                                    <a data-url="{% url 'recover-pass-send-token' %}"
                                        class="uk-button uk-button-primary find">{% trans "Find" %}</a>
                                </p>
                            </div>
                        </div>
                        <div class="uk-padding-small uk-disabled according-parent">
                            <div class="collapse uk-flex uk-flex-middle uk-margin-bottom" uk-grid>
                                <legend class="uk-legend uk-width-auto">{% trans "Enter The Code" %}</legend>
                                <div class="uk-width-expand">
                                    <h5 class="uk-heading-line uk-text-right">
                                        <span class="icon" uk-icon="icon: chevron-down
                        									; ratio: 1.5"></span>
                                    </h5>
                                </div>
                            </div>
                            <div class="according">
                                <p>
                                    {% trans "We send code to your email, enter it below" %}
                                </p>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: unlock"></span>
                                    <input id="token" name="token" class="uk-input" type="text"
                                        placeholder="{% trans "Code" %}">
                                </div>
                                <div style="display:none" class="uk-width-1-1 uk-padding">
                                    <p class="message" class="uk-text-right">
                                        {% trans "Token code in incorrect" %}
                                    </p>
                                </div>
                                <p class="uk-text-right">
                                    <a data-url="{% url 'recover-pass-check-token' %}"
                                        class="uk-button uk-button-primary check">{% trans "Check" %}</a>
                                </p>
                            </div>
                        </div>
                        <div class="uk-padding-small uk-disabled according-parent">
                            <div class="collapse uk-flex uk-flex-middle uk-margin-bottom" uk-grid>
                                <legend class="uk-legend uk-width-auto">{% trans "New Password" %}</legend>
                                <div class="uk-width-expand">
                                    <h5 class="uk-heading-line uk-text-right">
                                        <span class="icon" uk-icon="icon: chevron-down
                        									; ratio: 1.5"></span>
                                    </h5>
                                </div>
                            </div>
                            <div class="according">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input id="password" name="password" class="uk-input" type="password"
                                        placeholder="{% trans "New Password" %}">
                                </div>
                                <p class="uk-text-right">
                                    <a data-url="{% url 'recover-pass-set-new' %}"
                                        class="uk-button uk-button-primary next">{% trans "Save" %}</a>
                                </p>
                            </div>
                        </div>
                        <div class="uk-margin uk-grid-small uk-child-width-1-2 uk-grid">
                            <p class="uk-margin-top uk-width-1-1 uk-text-left">
                                {% trans "Need account" %} <a
                                    href="{% url 'register' %}">{% trans "register here" %}</a>
                            </p>
                        </div>
                    </fieldset>
                </form>

            </div>

        </div>
    </div>
</body>

</html>