{% extends "posts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<!-- start post container -->
<div class="uk-card uk-card-default">
    <form class="uk-form-stacked uk-padding " enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <legend class="uk-legend uk-margin-bottom">{% trans "Edit Account Settings " %}</legend>
        {% if messages %}
        {% for message in messages %}
        <div class="uk-margin uk-margin-large-top">
            <div class="uk-alert-success existed" uk-alert>
                <p>
                    {{message}}
                </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="uk-grid me-form" uk-grid>
            <div class="uk-width-1-1">
                <p>
                    {% trans "leave field empty if you don't want to change it!" %}
                </p>
            </div>
            <div class="uk-width-1-2@s">
                <label style="display: block;" class="uk-form-label uk-margin-small-bottom">{% trans "Username" %}</label>
                <div class="uk-margin">
                    <p class="uk-margin-small">
                        {% trans "Currunt" %}: {{user.username}}
                    </p>
                    <input id="username" name="username" class="uk-input" type="text" maxlength="140" minlength="2"
                        placeholder="{% trans "Username" %}">
                    <p class="uk-margin-small">
                        {% trans "150 characters or fewer. Letters, digits and @/./+/-/_ only." %}
                    </p>
                </div>

            </div>
            <div class="uk-width-1-2@s">
                <label style="display: block;" class="uk-form-label uk-margin-small-bottom">{% trans "Email address" %}</label>
                <div class="uk-margin">
                    <p class="uk-margin-small">
                        {% trans "Currunt" %}: {{user.email}}
                    </p>
                    <input id="email" name="email" class="uk-input" type="email" placeholder="{% trans "Email address" %}">
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <label style="display: block;" class="uk-form-label uk-margin-small-bottom">{% trans "Password" %}</label>
                <div class="uk-margin">
                    <input id="password" name="password" class="uk-input me-form-password" type="password"
                        placeholder="{% trans "Password" %}">
                    <br>
                    <div class="uk-alert-warning" uk-alert>
                        <p>
                            {% trans "Password you entered less than 6 char!" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <label style="display: block;" class="uk-form-label uk-margin-small-bottom">{% trans "Language" %}</label>
                <div class="uk-margin">
                    <select class="uk-select" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == user.profile.lang %}
                            selected{% endif %}>
                            {{ language.name_local }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin">
                <button type="submit" class="uk-button uk-button-primary">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>
<!-- end post container -->
{% endblock content %}